.navbar{
    
    box-shadow: 0 10px 15px rgb(11, 88, 139);


}
header{
      min-height: 100vh;
      background: linear-gradient(rgba(85, 159, 243, 0.2) , rgba(85, 159, 243, 0.2) ),url(../images/pexels-onemorecoffee-179993.jpg);
      background-position: center;
      background-size: cover;


}
.header-text{
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
}
#contact{
    background-color: rgb(5, 9, 12);
}
 .image{
    width: 80%;
 }
.image img{
    width: 100%;
  
}

#about{
    background-color: rgb(2, 25, 56);
}

#products{
    background-color: rgba(26, 120, 228, 0.308);
}


#services{
    background-color: rgb(255, 255, 255);
    text-align: left;
}
#help{
    background-color: rgba(26, 120, 228, 0.308)(11, 50, 95);
}